amqp==2.5.2
asgiref==3.2.3
backcall==0.1.0
beautifulsoup4==4.8.2
billiard==3.6.1.0
celery==4.4.0
coverage==5.0.3
decorator==4.4.1
depinfo==1.5.1
Django==3.0.7
django-celery-results==1.1.2
django-crispy-forms==1.8.1
django-debug-toolbar==2.1
django-extensions==2.2.5
django-ipware==2.1.0
django-rest-framework==0.1.0
django-tables2==2.2.1
django-webtest==1.9.7
djangorestframework==3.11.0
future==0.18.2
importlib-metadata==1.3.0
ipdb==0.12.3
ipython==7.10.2
ipython-genutils==0.2.0
jedi==0.15.1
kombu==4.6.7
more-itertools==8.0.2
mpmath==1.1.0
mysqlclient==1.4.6
numpy==1.18.1
optlang==1.4.4
pandas==0.25.3
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
pipdeptree==0.13.2
pkg-resources==0.0.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
python-dateutil==2.8.1
python-libsbml==5.18.0
pytz==2019.3
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scipy==1.4.1
six==1.13.0
soupsieve==2.0
sqlparse==0.3.0
swiglpk==4.65.1
sympy==1.5.1
traitlets==4.3.3
vine==1.3.0
waitress==1.4.3
wcwidth==0.1.7
WebOb==1.8.6
WebTest==2.0.34
Werkzeug==0.16.0
zipp==0.6.0
