{% extends 'includes/layout.html' %}

{% block content %}
    <main role="main" class="container py-5">
    <div class="card">
        <div class="jumbotron p-5">
        {% if user.is_authenticated %}
        <h3>Welcome, {{ user.username }}!</h3>
            {% if running_jobs %}
        <p>You currently have <a href="{% url 'jobs' %}">{{ running_jobs.count }} jobs</a> running/queued,
            out of a total of {{ jobs.count }} submitted.</p>
            {% else %}
                <p>You currently have <a href="{% url 'jobs' %}">no running jobs.</a></p>
            {% endif %}
            {% else %}
        <h3>Welcome to RobustQ!</h3>
            <p>RobustQ is a service to quantify cellular robustness. Learn more about it <a href="#" class="link text">here</a>.</p>
        {% endif %}
    </div>
        <div class="card-body p-2">

            {% if user.is_authenticated %}
                {% load crispy_forms_tags %}
            {% include 'includes/new_job_form.html' %}
            {% else %}

            <p class="pl-3">How to get started:</p>
                <ol class="pl-5">
                    <li><a href="{% url 'register' %}">Create an account</a> or <a href="{% url 'login' %}">Sign In</a></li>
                    <li>Queue up your job by uploading a valid SBML model.</li>
                    <li>Wait for the job to finish. This may take up to 24 hours, depending on the model size.</li>
                    <li>Once your job is finished, you will receive a notification via email.</li>
                </ol>
            {% endif %}

        </div>
    </div>
    </main>
{% endblock content %}
