{% extends 'includes/layout.html' %}

{% block content %}
    <main role="main" class="container py-5">
    <div class="card">
        <div class="card-header p-2">
            <h3>Publications</h3>
        </div>
        <div class="card-body p-2">
            <p class="pl-3">For further reading relating to the quantification of cellular robustness please refer to:</p>
                <ul class="pl-5">
                    <li><a href="https://doi.org/10.1093/bioinformatics/btv649">Exact quantification of cellular robustness in genome-scale metabolic networks</a></li>
                    <li><a href="https://doi.org/10.1371/journal.pcbi.1005409">From elementary flux modes to elementary flux vectors: Metabolic pathway analysis with arbitrary linear flux constraints</a></li>
                    <li><a href="https://doi.org/10.1371/journal.pcbi.1003378">Enumeration of Smallest Intervention Strategies in Genome-Scale Metabolic Networks</a></li>
                    <li><a href="https://doi.org/10.1016/j.ymben.2010.12.004">Computing complex metabolic intervention strategies using constrained minimal cut sets</a></li>
                    <li><a href="https://doi.org/10.1093/bioinformatics/btp564">Computing the shortest elementary flux modes in genome-scale metabolic networks</a></li>
                    <li><a href="https://doi.org/10.1093/bioinformatics/btr674">Minimal cut sets in a metabolic network are elementary modes in a dual network</a></li>
                </ul>

        </div>
    </div>
    </main>
{% endblock content %}
