{% extends 'includes/layout.html' %}

{% block content %}
    <main role="main" class="container py-5">
    <div class="card">
        <div class="card-header p-2">
            <h3>Publications</h3>
        </div>
        <div class="card-body p-2">
            <p class="pl-3">For further reading relating to the quantification of cellular robustness please refer to:</p>
                <ul class="pl-5">
                    <li><a href="https://www.researchgate.net/publication/283543764_Exact_quantification_of_cellular_robustness_in_genome-scale_metabolic_networks">Exact quantification of cellular robustness in genome-scale metabolic networks</a></li>
                </ul>

        </div>
    </div>
    </main>
{% endblock content %}
