<a href="{% url 'details' record.pk %}" class="btn btn-sm btn-link text text-info"><i class="fas fa-info-circle fa-lg"></i></a>
<a href="{% url 'download_job' record.pk %}" class="text text-secondary btn btn-sm btn-link"
   data-toggle="tooltip" title="Download"><i class="fas fa-download"></i></a>
{% if not record.is_finished %}
    <a id="cancel_btn" class="text text-warning btn btn-sm btn-link" href="javascript:cancelJob({{ record.pk }})"><i
            class="fas fa-window-close" data-toggle="tooltip" title="Cancel"></i></a>

{% else %}
    <a id="delete_btn" class="text text-danger btn btn-sm btn-link" href="{% url 'job-delete' record.pk %}"><i
        class="fas fa-trash" data-toggle="tooltip" title="Delete"></i></a>

{% endif %}
