{% load static %}
{#<footer id="sticky-footer" class="footer py-3 navbar-fixed-bottom">#}
{#  <div class="container">#}
{#    <span class="text-muted"></span>#}
{#      <img src="{% static 'img/acib_1.png' %}" height="35">#}
{#  </div>#}
{#</footer>#}


<footer id="footer" class="footer-1 light">
    <div class="main-footer widgets-light typo-dark bg-light">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title"><small>powered by </small>ACIB<span></span></h5>
                        <p>Austrian centre of industrial biotechnology</p>
                        <a href="https://www.acib.at/">
                            <img src="{% static 'img/acib_1.png' %}" height="50">
                        </a>
                        <a href="https://boku.ac.at/" class="navbar-brand p-0">
                            <img src="{% static "img/boku.png" %}" width="50" alt="" class="d-inline-block align-middle mr-2">
                        </a>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Quick Links<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">Get Started</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">Sourcecode</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">About Us<span></span></h5>
                        <ul class="thumbail-widget">
                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">About</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">Privacy & Data</a></div>
                            </li>
                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">Publications</a></div>
                            </li>

                            <li>
                                <div class="thumb-content"><a href="#." style="text-decoration: none" class="text text-info">Legal</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">

                    <div class="widget no-box">
                        <h5 class="widget-title">Contact Us<span></span></h5>
                        <p>Questions? <a href="mailto:info@domain.com" title="Info">info@domain.com</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-copyright dark">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p><small>Copyright ACIB © 2020. All rights reserved.</small></p>
                </div>
            </div>
        </div>
    </div>
</footer>