{% load static %}
<div class="container row" id="form_id">
    <div class="col-12">
        <form method="POST" enctype="multipart/form-data" id="jobform">
            {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Start New Job</legend>
                        <label for="id_sbml_file_Addon01" class="label">Please upload your model(s) in valid SBML format.
                        Size must be <{{ max_upload }}, allowed file extensions: <code>{{ allowed_ext }}</code></label>
                <br><small>Note: only valid models in .xml format will be queued from uploaded ZIP archives. If it does not show up,
                try to upload the file itself.</small>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="id_sbml_file_Addon01">Choose model(s)</span>
                          </div>
                          <div class="custom-file">
                              {{ job_form.sbml_file }}
                            <label class="custom-file-label" for="id_sbml_file">Choose files</label>
                          </div>
                        </div>

                    {% if job_form.sbml_file.errors %}
                        <div id="form-errors">
                            <script>
                                sbml_errors = true;
                            </script>
                            <noscript>
                            <ul>
                            {% for error in job_form.sbml_file.errors %}
                                <li><small class="text text-danger">{{ error|escape }}</small></li>
                            {% endfor %}
                            </ul>
                            </noscript>
                        </div>

                    {% endif %}
                </fieldset>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1 text-right pr-1">
                                        {{ job_form.compression }}
                        </div>
                        <div class="col-sm-6 text-left pl-1">
                    <label for="compression">Compress network <small>(improves runtime but may not work with some models)</small>.</label>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-1 text-right pr-1">
                    {{ job_form.make_consistent }}
                            </div>
                            <div class="col-sm-6 text-left pl-1">
                    <label for="make_consistent">Make model consistent <small>(testing)</small></label>
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1 text-right pr-1">
                    {{ job_form.cardinality_defigueiredo }}
                        </div>
                        <div class="col-sm-6 text-left pl-1">
                    <label for="cardinality">Cardinality for MCS count <small>(for larger models, only =< 3 feasible)</small></label><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1 text-right pr-1">
                    {{ job_form.cardinality_pof }}
                        </div>
                        <div class="col-sm-6 text-left pl-1">
                    <label for="cardinality">Cardinality for failureprobability <small>(for larger models, only =< 15 feasible)</small></label><br>
                        </div>
                    </div>

                    <br>
                    <datalist id="defaultNumbers">
                      <option value="2">
                      <option value="1">
                      <option value="3">
                      <option value="4">
                    </datalist>
                <button class="btn btn-outline-info" id="jobsubmitbtn">Submit</button>
                    <div id="pageloader" style="display: none;" class="row inline-block align-content-center justify-content-center">
                         <i class="fas fa-spinner fa-spin fa-2x text-info p-1 ml-3"></i><div class="text text-info p-2"> Uploading and validating, please wait..</div>
                    </div>
                    <br>
                    <div class="progress" id="progressbar_container" style="display: none;">
                      <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated"
                           role="progressbar" aria-valuenow="0" aria-valuemin="0"
                           aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
        </form>
    </div>
</div>

<script src="{% static 'js/file_upload.js' %}">
</script>

