{% extends 'includes/layout.html' %}

<!-- <title> -->
{% block title %} Your job - RobustQ {% endblock title %}
<!-- </title> -->
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        {#table {#}
        {#border-collapse: separate;#}
        {# }#}

        {#thead th {#}
        {#    background-color: #006DCC;#}
        {#    color: white;#}
        {# }#}

        {#tbody td {#}
        {#    background-color: #EEEEEE;#}
        {# }#}

        {#tr td:first-child,#}
        {#tr th:first-child {#}
        {#    border-top-left-radius: 8px;#}
        {#    border-bottom-left-radius: 8px;#}
        {# }#}
        {##}
        {#tr td:last-child,#}
        {#tr th:last-child {#}
        {#    border-top-right-radius: 8px;#}
        {#    border-bottom-right-radius: 8px;#}
        {# }#}

    </style>
    <main role="main" class="container py-5">
        <script>
            var job_id = {{ job.id }};
        </script>
        <div class="content-section">
            <div class="card border">
                <div class="card-header bg-light">
                    <h3>Job #{{ job.id }} - Details</h3>
                </div>
                <div class="card-body">
                    <tr class="py-2 pt-3 container">
                        <a href="{% url 'jobs' %}" class="btn btn-sm btn-outline-info">Overview <i
                                class="fas fa-list"></i></a>
                        <a onClick="window.location.reload();" class="text text-info btn-sm btn-link"><i
                                class="fas fa-redo"></i> </a>

                        <br>
                        {% if job %}
                            <br>

                            <table class="table table-sm table-condensed table-hover">
                                {% for key, value in job.items %}
                                    <tr class="row">
                                        {#                                <div class="d-sm-inline-flex flex-sm-row align-item-sm-center">#}
                                        <td class="table-secondary col-sm-3"><b>{{ key|upper }}</b></td>
                                        <td class="table-light col-sm-9">{{ value }} </td>
                                        {#                                </div>#}
                                    </tr>
                                {% endfor %}
                            </table>

                            {% if tasks %}
                                {% if rt %}
                                    <br>
                                    <label for="result_table" class="modal-header p-0"><h2>Result</h2>
                                        <a href="{% url 'result_table' job.id 'csv' %}"
                                           class="btn btn-sm btn-outline-secondary">
                                            <i class="fas fa-download text text-right right"></i></a>
                                    </label>
                                    {% if job.result %}
                                        <h5 class="center">PoF = {{ job.result }}</h5>
                                    {% endif %}
                                    <table id="result_table" class="table-condensed"
                                           style="border: none;" data-sortable="false"
                                           data-toggle="result_table" data-url="{% url 'result_table' job.id 'json' %}">
                                        <thead class="bg-primary text-white">
                                        <tr>
                                            <th data-field="d" class="text-center">d</th>
                                            <th data-field="weight" class="text-center">weight</th>
                                            <th data-field="F(d)" class="text-center">F(d)</th>
                                            <th data-field="weighted F(d)" class="text-center">weighted F(d)</th>
                                            <th data-field="acc. weighted F(d)" class="text-center">acc. weighted F(d)
                                            </th>
                                            <th data-field="lethal CS" class="text-center">lethal CS</th>
                                            <th data-field="possible CS" class="text-center">possible CS</th>
                                        </tr>
                                        </thead>
                                    </table>
                                    <script>
                                        // renders result table
                                        var restable = $('#result_table');
                                        var url = "{% url 'result_table' job.id 'json' %}";
                                        var data;
                                        $.get(url)
                                            .then((response) => {
                                                data = response;
                                                restable.bootstrapTable({data: data});
                                            });
                                    </script>
                                    <br>
                                {% endif %}

                                <p class="h4">Task details</p>

                                <div id="subtasks">
                                    <br>
                                    <table class="table table-sm table-condensed table-hover table-bordered">
                                        <thead class="bg-primary text-white">
                                        <tr>
                                            <th>#</th>
                                            <th class="col-sm-6">Task</th>
                                            <th class="col-sm-2">Status</th>
                                            <th class="col-sm-2">Duration</th>
                                            <th class="col-sm-1">Logs</th>
                                        </tr>
                                        </thead>
                                        {% for task in tasks %}
                                            <tr>
                                                <td>
                                                    {{ forloop.counter }}
                                                </td>
                                                <td>
                                                    <strong>{{ task.name }}</strong>
                                                </td>
                                                <td>
                                                    {{ task.task_result.status }}
                                                </td>
                                                <td>
                                                    {{ task.duration }}
                                                </td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-secondary"
                                                       data-toggle="modal"
                                                       data-target="#log_{{ task.name }}" role="button"
                                                       aria-expanded="false"
                                                       aria-controls="log_{{ task.name }}">Logdata</a>
                                                    <div class="modal fade" id="log_{{ task.name }}"
                                                         tabindex="-1" role="dialog"
                                                         aria-labelledby="{{ task.name }} Log"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-xl"
                                                             role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">
                                                                        Log data for {{ task.name }}</h5>
                                                                    <a href="{% url 'serve_logfile' task.id %}"
                                                                       class="btn btn-sm btn-outline-secondary right ">Download</a>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="container overflow-auto"
                                                                         style="height: 30rem">
                                                                        <code style="color: black;">
                                                                            {% for line in task.logfile.logdata %}
                                                                                <br>
                                                                                {{ line }}
                                                                            {% endfor %}
                                                                        </code>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>

                                </div>


                            {% endif %}
                            <div class="btn-group">
                                <a href="{% url 'jobs' %}" class="btn btn-sm btn-outline-secondary"><i
                                        class="fas fa-arrow-alt-circle-left"></i> Back</a>
                                <a href="{% url 'new' %}" class="btn btn-sm btn-outline-secondary"><i
                                        class="fas fa-plus-circle"></i> Submit New Job</a>

                                {% if job.is_finished %}
                                    <a href="{% url 'download_job' job.id %}" class="btn btn-sm btn-outline-secondary">Download
                                        logs and files (.zip) <i class="fas fa-download"></i></a>
                                    </div>
                                    <a href="{% url 'job-delete' job.id %}"
                                       class="btn btn-sm btn-outline-danger float-right"><i class="fas fa-trash"></i>
                                        Delete
                                    </a>

                                {% else %}
                                    </div>
                                    <a id="cancel_btn" class="btn btn-sm btn-outline-warning float-right ml-1"
                                       href="javascript:cancelJob({{ job.id }})"><i
                                            class="fas fa-window-close"></i> Cancel</a>

                                {% endif %}
                            <a onClick="window.location.reload();" class="text text-secondary btn btn-sm btn-link"><i
                                    class="fas fa-redo"></i></a>
                        {% else %}
                            <p>Could not find specified job!</p>
                        {% endif %}
            </div>
        </div>
        </div>
        </div>
    </main>
{% endblock content %}
