{% extends 'includes/layout.html' %}

<!-- <title> -->
{% block title %} Your job - RobustQ {% endblock title %}
<!-- </title> -->
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="container py-5">
        <script>
            var job_id = {{ job.id }};
        </script>
        <div class="content-section">
            <div class="card border">
                <div class="card-header bg-light">
                    <h3>Job #{{ job.id }} - Details</h3>
                </div>
                <div class="card-body">
                    <tr class="py-2 pt-3 container">
                        <a href="{% url 'jobs' %}" class="btn btn-sm btn-outline-info">Overview <i
                                class="fas fa-list"></i></a>
                        <a onClick="window.location.reload();" class="text text-info btn-sm btn-link"><i
                                class="fas fa-redo"></i> </a>

                        <br>
                        {% if job %}
                            <br>

                            <table class="table table-sm table-condensed table-striped table-hover">
                                {% for key, value in job.items %}
                                    <tr class="row">
                                        {#                                <div class="d-sm-inline-flex flex-sm-row align-item-sm-center">#}
                                        <td class="table-info col-sm-3"><b>{{ key|upper }}</b></td>
                                        <td class="table-light col-sm-9">{{ value }} </td>
                                        {#                                </div>#}
                                    </tr>
                                {% endfor %}
                            </table>

                            {% if tasks %}
                                <p class="h4">Task details <a class="text text-secondary" onclick="toggle_tasks()">
                                    <i class="fas fa-toggle-on" id="toggle_btn"> </i> </a> </p>


                                <div id="subtasks">
                                <small>Subtask {{ forloop.counter }}</small>

                                {% for task in tasks %}
                                    <table class="table table-sm table-condensed table-striped table-hover">
                                        {% for key, value in task.items %}
                                            {% if value is not None %}
                                                {% if key == 'task_result' %}

                                                    {% for k, v in value.items %}
                                                        <tr class="row">
                                                            <td class="table-info col-sm-3">{{ k|upper }}</td>
                                                            <td class="table-light col-sm-9">{{ v|safe }}</td>
                                                        </tr>
                                                    {% endfor %}

                                                {% else %}

                                                    <tr class="row">

                                                        <td class="table-info col-sm-3">{{ key|upper }}</td>

                                                        {% if key == 'logfile' %}
                                                            <td class="table-light col-sm-9">
                                                                <a class="btn btn-sm btn-outline-secondary"
                                                                   data-toggle="collapse"
                                                                   href="#log_{{ task.name }}" role="button"
                                                                   aria-expanded="false"
                                                                   aria-controls="log_{{ task.name }}">Logdata</a>
                                                                <a href="{{ task.logfile.path }}"
                                                                   class="btn btn-sm btn-outline-secondary">Download</a>
                                                                <div class="collapse p-2" id="log_{{ task.name }}">

                                                                    <div class="card card-body" style="height: 30rem">
                                                                        <div class="container overflow-auto"
                                                                             style="height: 30rem">
                                                                            <code style="color: black;">
                                                                                {% for line in task.logfile.logdata %}
                                                                                    <br>
                                                                                    {{ line }}
                                                                                {% endfor %}
                                                                            </code>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </td>

                                                        {% else %}
                                                            <td class="table-light col-sm-9">{{ value|safe }}</td>
                                                        {% endif %}

                                                    </tr>

                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                {% endfor %}
                            </div>

                                <script>
                                var toggle_btn = $('#toggle_btn');
                                var subtasks = $('#subtasks');
                                toggle_tasks = () => {
                                    subtasks.toggle();
                                    toggle_btn.toggleClass('fa-toggle-on fa-toggle-off')
                                }

                                </script>

                            {% if rt %}
                                <br>
                                <label for="result_table" class="h2">Result
                                    <a href="{% url 'result_table' job.id 'csv' %}" class="btn btn-sm btn-outline-secondary">
                                        <i class="fas fa-download"></i></a>
                                </label>
                                <table id="result_table" class="table-striped" data-sortable="false"
                                       data-toggle="result_table" data-url="{% url 'result_table' job.id 'json' %}">
                                    <thead>
                                    <tr>
                                      <th data-field="d" class="text-center">d</th>
                                      <th data-field="weight" class="text-center">weight</th>
                                      <th data-field="F(d)" class="text-center">F(d)</th>
                                      <th data-field="weighted F(d)" class="text-center">weighted F(d)</th>
                                      <th data-field="acc. weighted F(d)"  class="text-center">acc. weighted F(d)</th>
                                      <th data-field="lethal CS" class="text-center">lethal CS</th>
                                      <th data-field="possible CS" class="text-center">possible CS</th>
                                    </tr>
                                    </thead>
                                </table>
                                <script>
                                // renders result table
                                    var restable = $('#result_table');
                                    var url = "{% url 'result_table' job.id 'json' %}";
                                    var data;
                                    $.get(url)
                                        .then((response) => {data = response;
                                        restable.bootstrapTable({data: data});
                                         });
                                </script>
                                <br>
                            {% endif %}
                            {% endif %}
                            <div class="btn-group">
                            <a href="{% url 'jobs' %}" class="btn btn-sm btn-outline-secondary"><i
                                    class="fas fa-arrow-alt-circle-left"></i> Back</a>
                            <a href="{% url 'new' %}" class="btn btn-sm btn-outline-secondary"><i
                                    class="fas fa-plus-circle"></i> Submit New Job</a>

                            {% if job.is_finished %}
                                <a href="{% url 'download_job' job.id %}" class="btn btn-sm btn-outline-secondary">Download
                                    logs and files (.zip) <i class="fas fa-download"></i></a>
                                </div>
                                <a href="{% url 'job-delete' job.id %}"
                                   class="btn btn-sm btn-outline-danger float-right"><i class="fas fa-trash"></i> Delete
                                </a>

                            {% else %}
                                </div>
                                <a id="cancel_btn" class="btn btn-sm btn-outline-warning float-right ml-1"><i
                                        class="fas fa-window-close"></i> Cancel</a>

                            {% endif %}
                            <a onClick="window.location.reload();" class="text text-secondary btn btn-sm btn-link"><i
                                    class="fas fa-redo"></i></a>
                        {% else %}
                            <p>Could not find specified job!</p>
                        {% endif %}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock content %}
