{% extends 'includes/layout.html' %}

<!-- <title> -->
{% block title %} Your job - RobustQ {% endblock title %}
<!-- </title> -->
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        var job_id = {{ job.id }};
    </script>
    <div class="content-section">
        <div class="card border">
            <div class="card-header bg-light">
                <h3>Job #{{ job.id }} - Details</h3>
            </div>
            <div class="card-body">
                <div class="py-2 pt-3 container">
                <a href="{% url 'jobs' %}" class="btn btn-sm btn-outline-info">Overview <i class="fas fa-list"></i></a>
                    {% if job %}
                        <ul class="list-group list-group-flush py-1">
                        {% for key, value in job.items %}
                            <div class="d-sm-inline-flex flex-sm-row align-item-sm-center">
                                <li class="list-group-item list-group-item-info col-sm-3">{{ key|upper }}</li>
                                <li class="list-group-item list-group-item-light col-sm-9"> {{ value }}</li>
                            </div>
                        {% endfor %}
                        </ul>
                        {% if tasks %}
                            <p class="h4">Task details</p>
                            <ul class="list-group list-group-flush py-1">
                            {% for task in tasks %}
                                <small>Subtask {{ forloop.counter }}</small>
                                    {% for key, value in task.items %}
                                        {% if key == 'task_result' %}

                                            {% for k, v in value.items %}
                                                <div class="d-inline-flex">
                                            <li class="list-group-item list-group-item-info col-sm-3">{{ k|upper }}</li>
                                            <li class="list-group-item list-group-item-light col-sm-9"> {{ v }}</li>
                                                </div>
                                            {% endfor %}

                                        {% else %}

                                        <div class="d-inline-flex">
                                    <li class="list-group-item list-group-item-info col-sm-3">{{ key|upper }}</li>
                                    <li class="list-group-item list-group-item-light col-sm-9"> {{ value }}</li>
                                        </div>

                                        {% endif %}
                                    {% endfor %}
                            <br>
                            {% endfor %}
                            </ul>
                            {% endif %}
                            {% if not job.is_finished %}
                            <a id="cancel_btn" class="btn btn-sm btn-outline-warning">Cancel</a>
                        {% endif %}
                        <a href="{% url 'job-delete' job.id %}" class="btn btn-sm btn-outline-danger">Delete</a>

                    {% else %}
                    <p>Could not find specified job!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
