{% extends 'includes/layout.html' %}

<!-- <title> -->
{% block title %} RobustQ {% endblock title %}
<!-- </title> -->

{% load crispy_forms_tags %}
<!-- <body> -->
{% block content %}
            <main role="main" class="container py-5">

    <div class="card p-3">
        <div class="content-section">
            <h2>You have been logged out.</h2>
            <div class="border-top pt-3">
                <small class="text-muted"><a href="{% url 'login' %}">Sign In Again</a></small>
            </div>
        </div>
    </div>
            </main>
{% endblock content %}
<!-- </body> -->
